<p id="notice"><%= notice %></p>



<div id="top_three_ranking_comics">
  <%# コミックランキングtop3をここに入れる %>
</div>
<div id="new_comics">
 <h1>新着作品</h1>

 <table>
    <% @comics.each do |comic| %>
      <tr>
        <td><%= link_to comic_path(comic) do %>
         <%= image_tag comic.front_cover.to_s %>
        <% end %></td>
      </tr>
    <% end %>
 </table>

</div>

<br>



