<p id="notice"><%= notice %></p>

<div id="new_comics">
 <h1>新着作品</h1>
  <div class="new_comic">
    <% @comics.each do |comic| %>
        <%= link_to comic_path(comic) do %>
         <%= image_tag comic.front_cover.to_s %>
        <% end %>
    <% end %>
  </div>
</div>

<br>

<%= paginate @comics %>



