<h1>総合ランキング</h1>
<div class="ranked_comics">
  <% @ranked_comics.each do |comic| %>
    <%= link_to comic_path(comic) do %>
      <%= image_tag comic.front_cover.to_s %>
    <% end %>
     <div class="ranked_comics_info">
      <%= comic.likes_count %>
      <%= comic.user.username %>
     </div>
  <% end %>
</div>