/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --sp-responsive-width: 750px;
}


body {
  margin: 0 auto;
  background-color: #f1f1f1;
}

html {
  margin: 0 auto;
  background-color: #f1f1f1;
}

.background {
  background-color: white;
  width: 980px;
  display: block;
  margin: 0 auto;
  padding: 28px;
}


hr {
    margin: 80px 60px;
}


footer {
  position: fixed;
  bottom: 5px;
    li {
      display: inline-block;
    }
}

.footer_item {
  padding: 20px 100px;
  border: solid 1px #DDDDDD;
  background-color: #DDDDDD;
  color: blue;
  font-size: 14px;
}

.footer_item:hover {
  background-color: #fd6458; 
}


@media only screen and (max-width: 750px) {

  body {
    margin: 0 auto;
    background-color: #f1f1f1;
  }

  .background {
    background-color: white;
    width: 286px;
    display: block;
    margin: 0 auto;
    padding: 28px;
  }
}