/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header {
  position: relative;
  height: 70px;
  width: 1500px;
  background-color: #fd6458;
}

nav {
  position: relative;
  top: 27px;
  left: 1200px;
  font-size: 20px;

}

.header_search {
  position: relative;
  width: 100px;
  top: -125px;
  left: -350px;
}

.header_search img {
  position: absolute;
  top: 8px;
  left: 210px;
}

.header_search_box {
  border-radius: 10px;
  height: 40px;
  width: 250px;
  font-size: 15px;
}

.logo_pic img{
  position: relative;
  left: -1150px;
  bottom: 12px;
}

.header_left_button {
  position:  relative;
  display: inline-block;
  right: 30px;
  bottom: 50px;
  background-color: #fd6458;
  border-color: #fd6458;
  color: white;
  font-size: 20px;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
               black 1px -1px 0px, black -1px -1px 0px;
}

.header_right_button {
  position: relative;
  display: inline-block;
  right: -150px;
  bottom: 85px;
  background-color: #fd6458;
  border-color: #fd6458;
  color: white;
  font-size: 20px;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
               black 1px -1px 0px, black -1px -1px 0px;
}


