// Place all the styles related to the comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//index.html.erb//

h1 {
  width: 900px;
  height: 30px;
  font-size: 32px;
  padding: 7px 0px 0px 30px;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ Std", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
  border-bottom: solid 7px;
  border-color: #fd6458;
}

#new_comics {
}

.new_comic img{
  margin-top: 10px;
  margin-left: 36px;
}

//index.html.erb end //


//new.html.erb//


//new.html.erb end//




//edit.html.erb//

//edit.html.erb end//





//_form.html.erb//


.field {
  width:300px;
  margin: 0px auto
}


//_form.html.erb end//


//liked.html.erb//

//liked.html.erb end//


//search.html.erb//

//search.html.erb end//